

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<%= image_tag @plattform.image_url, class: "img-fluid" %>
			
		</div>
		
	</div>
	<div class="col-md-8">
		<h5><%= @plattform.name %></h5>
		<p><%= raw tag_links(@plattform.all_tags) %></p>
		<ul>
			<li>Operator: <%= @plattform.owner %></li>
			<li>Content: <%= @plattform.description %></li>
			<li>Account: <%= @plattform.account %></li>
			<li>Start Learning: <%= @plattform.account_date_start %></li>
			<li>Cost/month <%= @plattform.price %> EUR</li>
		</ul>
		<div class="links btn-group">
			<%= link_to "Back", plattforms_path, class: "btn btn-custom" %>
			<%= link_to "Edit", edit_plattform_path, class: "btn btn-custom" %>
			<%= link_to "Delete", plattform_path(@plattform), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-custom" %>
		</div>
		
	</div>
</div>